:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* Шапка */

/* Верхній логотип */
.logo-header {
  color: #000000;
}

.logo-blue {
  color: var(--accent-color);
}

.logo-header,
.logo-footer,
.logo-blue {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* Навігація */

.nav-link {
  color: var(--title-text-color);
}

.current {
  color: var(--accent-color);
}

.site-nav .nav-link:hover,
.site-nav .nav-link:focus {
  color: var(--accent-color);
}

/* Контакти */

.contact-link {
  color: var(--primary-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* Основний */
/* Гергой */

.hero {
  background-color: var(--secondary-bg-color);
}

.hero-title {
  color: var(--primary-bg-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

button {
  cursor: pointer;
}

.button {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Переваги */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list-title {
  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-text {
  line-height: 1.71;
}

/* Сфера діяльності та команда*/

.section-title {
  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  background-color: var(--third-bg-color);
}

.team-list-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Футер */

/* Лого */
.footer {
  background-color: var(--secondary-bg-color);
}

.logo-footer {
  color: var(--primary-bg-color);
  text-decoration: none;
}

/* Адреса */

.address-list {
  font-style: normal;
}

.address-postal,
.contact-footer {
  text-decoration: none;

  line-height: 1.71;
}

.address-postal {
  color: var(--primary-bg-color);
}

.contact-footer {
  color: rgba(255, 255, 255, 0.6);
}

.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-color);
}

/* Портфоліо */

/* Кнопки */

.portfolio-button-list button {
  color: var(--title-text-color);
  background-color: var(--third-bg-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.portfolio-button-list button:hover,
.portfolio-button-list button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

/* Зразки проектів */

.portfolio-sample-list-title {
  color: var(--title-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-sample-list-text {
  font-size: 16px;
  line-height: 1.88;
}
